* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* BOTÓN */
#activateBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 45px;
  font-size: 22px;
  color: white;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
  z-index: 10;
}

/* CANVAS ESTRELLAS */
#stars {
  position: fixed;
  inset: 0;
  z-index: 1;
}

/* CONTENEDOR IMÁGENES */
#animationArea {
  position: fixed;
  inset: 0;
  z-index: 5;
  pointer-events: none;
}
/* PARTÍCULAS (IMÁGENES) */
.particle {
  position: absolute;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  will-change: transform;
}
.heart {
  position: fixed;
  bottom: -40px;
  width: 20px;
  height: 20px;
  background: #ff4d6d;
  transform: rotate(45deg);
  opacity: 0.8;
  animation: floatHeart 6s linear forwards;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ff4d6d;
  border-radius: 50%;
}

.heart::before {
  top: -10px;
  left: 0;
}

.heart::after {
  left: -10px;
  top: 0;
}

@keyframes floatHeart {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 0;
  }
  10% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(-110vh) rotate(45deg);
    opacity: 0;
  }
}